Django
django-extensions
djangorestframework
python-decouple
git+https://github.com/goldendevuz/django-jazzmin.git@b82bf0ebe9266d11aaf394b97f12724915ec8884#egg=django-jazzmin
drf-material
icecream
uvicorn
gunicorn
whitenoise
django-debug-toolbar
django-cors-headers
django-import-export[all]
django-schema-viewer
drf-spectacular[sidecar]
django-filter
djangorestframework-jsonapi[django-filter]
Pillow
